<!doctype html>
<html lang="<%= site.locale %>">
  <%= render "head" %>
  <body>
    <%= render "header" %>
    <main>
      <div class="content">
        <%= content %>
      </div>
    </main>
  </body>
</html>
