:root {
  /* --body-background: #3A4E48; */
  --body-background: #CFE7DB;
  --body-color: #405349;
  --heading-color: #405349;
  --action-color: #405349;
  --highlight-color: #9974dd;
  --highlight-color-dark: #8558d6;

  --primary: #6A7B76;

  --main-max-width: 900px;
  --header-height: 90px;
}

html {
  font-size: 20px;
  overflow: hidden;
}

body {
  background: var(--body-background);
  color: var(--body-color);
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Helvetica", "Arial", sans-serif;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  justify-content: space-between;
  background: var(--body-color);
  box-shadow: 0 0 10px;
  height: var(--header-height);
}

header > h1 > a, header > nav > a {
  color: white;
}

header > nav {
  display: flex;
  gap: 0.8rem;
}

nav > a {
  text-decoration: none;
}

nav > a:hover, nav > a.active {
  border-bottom: solid var(--highlight-color) 3px;
}

header > h1 {
  font-size: 2rem;
}

main {
  overflow-y: auto;
  height: calc(100vh - var(--header-height));
}

main > .content {
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  max-width: var(--main-max-width);
}

#skills > ul {
  column-count: auto;
  column-width: 12rem;
}

a {
  color: var(--action-color);
  text-decoration: underline;
  text-decoration-color: var(--highlight-color);
  text-decoration-thickness: 2px;
  text-decoration-skip-ink: none;
}

a:hover, a:focus {
  text-decoration-thickness: 3px;
}

h1 {
  text-align: center;
  font-weight: 900;
  font-size: 1.3rem;
  color: var(--heading-color);
  margin: 0;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-weight: 500;
  font-size: 1.1rem;
}

h1 > a {
  text-decoration: none;
}

section > .header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

hr {
  border-color: var(--highlight-color);
  width: 95%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

ul {
  font-size: 1rem;
}

button {
  background: var(--highlight-color);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 1rem;
}

button:hover {
  background: var(--highlight-color-dark);
}

.float {
  float: right;
}

@media only screen and (max-width: 1000px) {
  :root {
    --header-height: 120px;
  }

  html {
    font-size: 32px;
  }

  p {
    margin-bottom: 4rem;
  }
}
