<head>
  <meta charset="utf-8">
  <title><%= resource.data.title %></title>

  <link rel="stylesheet" href="<%= asset_path :css %>" />
  <script src="<%= asset_path :js %>" defer></script>
  <%= live_reload_dev_js %>
</head>