<header>
  <h1><%= link_to "Sam Green", "index.erb" %></h1>
  <nav>
    <%= link_to "About", "about.erb" %>
    <%= link_to "CV", "cv.erb" %>
    <%= link_to "Projects", "projects.erb" %>
  </nav>
</header>