<% 
links = [["About", 'index.erb'], ["CV", 'cv.erb'], ['Projects', 'projects.erb']]
%>
<header>
  <h1><%= link_to "Sam Green", "index.erb" %></h1>
  <nav>
    <% links.each do |title, path| %>
      <%= link_to title, path, class: url_for(path).eql?(view.resource.destination.relative_url) ? 'active' : nil %>
    <% end %>
  </nav>
</header>